<a href="https://colab.research.google.com/github/Aravindhkannanb/Income-Balance-expenditure-prediction/blob/main/BalancePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df=pd.read_csv("/content/sample_data/Aravindh.csv")
df.head()

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import numpy as np
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn.metrics import classification_report

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.head()

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
print(df["Income"].value_counts())

In [3]:
txn=df["Txn Date"]
value=df["Value Date"]
balance=df["Balance"]
credit=df["CR/DR"]

credit_data=df.groupby("CR/DR").get_group("Cr.")
debit_data=df.groupby("CR/DR").get_group("Dr.")

In [ ]:
df.columns

Index(['Srl', 'Txn Date', 'Value Date', 'Description', 'CR/DR', 'CCY',
       'Amount ', 'Balance', 'Month', 'Income '],
      dtype='object')

In [4]:
df.replace({"Month":{"January":1,"February":2,"March":3,"April":4,"May":5,"June":6,"July":7,"August":8,"September":9,"October":10,"November":11,"December":12}},inplace=True)
df.head()

,Srl,Txn Date,Value Date,Description,CR/DR,CCY,Amount,Balance,Month,Income
0,1,11-01-2023 01:30,11-01-2023,UPI/301168319319/EURONETGPAY,Dr.,INR,239,2017.08,1,239
1,2,11-01-2023 01:18,11-01-2023,UPI/301168022227/KANNAN S/O DAKSHNAMURTHY,Cr.,INR,150,2256.08,1,150
2,3,10-01-2023 08:23,10-01-2023,UPI/301056895580/VALARMATHI P,Dr.,INR,390,2106.08,1,390
3,4,10-01-2023 07:41,10-01-2023,UPI/301055344242/ARAVINDH KANNA B,Dr.,INR,238,2496.08,1,238
4,5,10-01-2023 11:25,10-01-2023,UPI/301038772318/Mr Gowsigan Murugan,Cr.,INR,20,2734.08,1,20

In [5]:
month=df["Month"]

In [6]:
x_train,x_test,y_train,y_test=train_test_split(month,balance,test_size=0.2,random_state=100)

In [ ]:
print("x_train",x_train)

In [ ]:
scaler=StandardScaler()
X_train=scaler.fit_transform(x_train.values.reshape(-1,1))
Y_train=scaler.fit_transform(y_train.values)

In [7]:
model=LinearRegression()
model.fit(x_train.values.reshape(-1,1),y_train.values)

LinearRegression()

In [ ]:
print(y_train)

In [ ]:
prediction=model.predict(x_test.values.reshape(-1,1))
print(prediction)

In [12]:
month=int(input("Enter month to predict the account balance of month:"))
model.predict([[month]])

Enter month to predict the account balance of month:12

array([2314.95001128])